# data temp files
data/
*.pkl



# docker created files
qdrant_storage/
neo4j/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
app_logs/
logs/
flagged/    

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env


# IDEs and editors
.idea/
.vscode/

# macOS
.DS_Store

# PyInstaller
*.spec

# Local database
db.sqlite3

# Scrapy stuff:
.scrapy
